<section id="about" class="py-20 bg-white">
    <div class="container mx-auto px-6 md:px-12">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 mb-12 md:mb-0 md:pr-12 animate-fadeIn">
                <div class="relative">
                    <img src="{{ asset('assets/img/DrOusmaneSow.jpeg') }}" alt="Docteur CDOS" class="rounded-xl shadow-lg w-full h-auto animate__fadeIn">
                    <div class="absolute -bottom-6 -left-6 bg-blue-800 text-white p-4 rounded-xl shadow-lg hidden md:block">
                        <p class="font-bold">Une nouvelle vision du soin</p>
                        <p class="text-sm">à votre écoute</p>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 animate-fadeIn delay-200 animate__fadeIn">
                <h2 class="text-3xl font-bold text-blue-900 mb-6">À propos de notre cabinet</h2>
                <p class="text-gray-600 mb-6">Fondé récement en janvier 2025, le Cabinet Dentaire Ousmane Sow s'engage à fournir des soins dentaires de haute qualité dans un environnement confortable et moderne.</p>
                <div class="mb-8">
                    <h3 class="text-xl font-semibold text-blue-800 mb-2">Dr. Ousmane Sow</h3>
                    <p class="text-gray-600 mb-2">Chirurgien-Dentiste, Diplômée de la Faculté de Medecine et d'Odonto-Stomatologie</p>
                    <p class="text-gray-600">le Dr. Sow met son expertise et son savoir-faire au service de votre santé bucco-dentaire.</p>
                </div>
                <div class="flex items-center">
                    <div class="w-12 h-12 bg-blue-100 rounded-full flex items-center justify-center mr-4">
                        <i class="fas fa-heart text-blue-800 text-xl"></i>
                    </div>
                    <p class="italic text-gray-600">"Votre confort et votre satisfaction sont au cœur de notre pratique."</p>
                </div>
            </div>
        </div>
    </div>
</section>
