<section id="location" class="py-20 bg-white">
    <div class="container mx-auto px-6 md:px-12">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 mb-12 md:mb-0 md:pr-12 animate-fadeIn">
                <h2 class="text-3xl font-bold text-blue-900 mb-6">Nous trouver</h2>
                <div class="space-y-6">
                    <div class="flex items-start">
                        <div class="w-12 h-12 bg-blue-100 rounded-full flex items-center justify-center mr-4 mt-1">
                            <i class="fas fa-map-marker-alt text-blue-800"></i>
                        </div>
                        <div>
                            <h3 class="text-xl font-semibold text-blue-800 mb-2">Adresse</h3>
                            <p class="text-gray-600">À 100m du feu de Garantiguibougou, en face de la voie de Garantiguibougou <br> Rue: 426, Estée 192</p>
                        </div>
                    </div>
                    <div class="flex items-start">
                        <div class="w-12 h-12 bg-blue-100 rounded-full flex items-center justify-center mr-4 mt-1">
                            <i class="fas fa-clock text-blue-800"></i>
                        </div>
                        <div>
                            <h3 class="text-xl font-semibold text-blue-800 mb-2">Horaires</h3>
                            <p class="text-gray-600">Lundi - Vendredi: 8h - 21h<br>Samedi: 8h - 16h<br>Dimanche: Fermé</p>
                        </div>
                    </div>
                    <div class="flex items-start">
                        <div class="w-12 h-12 bg-blue-100 rounded-full flex items-center justify-center mr-4 mt-1">
                            <i class="fas fa-bus text-blue-800"></i>
                        </div>
                        <div>
                            <h3 class="text-xl font-semibold text-blue-800 mb-2">Accès</h3>
                            <p class="text-gray-600">Parking gratuit à l'interieur du complexe</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:w-1/2 animate-fadeIn delay-200">
                <div class="rounded-xl shadow-xl overflow-hidden">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3894.16998648453!2d-8.0013502!3d12.5710406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe51cfea84763ff9%3A0x8b0e0ae756abd208!2sCabinet%20Dentaire%20Ousmane%20SOW!5e0!3m2!1sfr!2sml!4v1756150416095!5m2!1sfr!2sml" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
